html {
    scroll-behavior: smooth;
  }
body{
    padding: 0;
    margin: 0;
}
#home{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/photo-1499084732479-de2c02d45fcc.jpg);
}

/* project */
.project-box{
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .project-box:hover .overlay {
    bottom: 0;
    height: 100%;
  }

.project-description{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    color: white;
}

.search{
    background-color: white;
    color: coral;
    cursor: pointer;
}
.search:hover{
    background-color: coral;
    color: white;
    transition:1s;
    
}
.link{
    background-color:coral;
    color: white;
    cursor: pointer;
}
.link:hover{
    background-color: white;
    color:coral;
    transition:1s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #name{
        font-size:x-large;
    }
    #proffesional{
        font-size: small;
    }
    #home{
        height:350px;
    }
    .hr{
        width: 75%;
    }
    .email{
        font-size:14px;
    }
   
    .wehead{
        font-size: 10px;
    }
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #name{
        font-size:52px;
    }
    #proffesional{
        font-size: 28px;
    }
    hr.type_7{
        border: 0;
        height: 45;
        background-image: url(../images/type_7.webp);
        background-repeat: no-repeat;
    }
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #name{
        font-size:52px;
    }
    #proffesional{
        font-size: 28px;
    }
    hr.type_7{
        border: 0;
        height: 45px;
        margin-left: 27%;
        background-image: url(../images/type_7.webp);
        background-repeat: no-repeat;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/*service coding*/
.service-box:hover{
    transition: 0.5s;
    color: white;
    background-color: coral;
}

.p1{
    background-size: cover;
    background-image: url(../images/4281.jpg);
}
.p1:hover{
    z-index: -1;
    overflow: hidden;
    transform: scale(1.2);
    transition: 2.5s;
}
.p1-description{
    top:0px ;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.project-search-icon{
    width:40px; 
    height:40px;
    border-radius:50%;
    background-color: salmon;
}
.c-icon{
    width:35px; height:35px;box-shadow:0px 0px 1px 1px #ccc;
}
.c-icon:hover{
    background-color: tomato;
    color: white;
    transition:.5s;
}